<!DOCTYPE html>
<html>
<head>
  <title>VerMax Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :xml, "/posts.xml" %>
</head>
<body>

<%= yield %>

</body>
</html>
